body{
    background-color: white;
}
#offer-carosuel{
    padding: 10px;
    background-color: rgb(205, 204, 204);
}

#product{
    background-color: rgb(248, 174, 174);
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
#product img{
    height: 200px;
    width: 200px;
}

#product li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    list-style: none;
    padding: 10px;
}
#product strike{
    font-size: medium;
    color: rgb(202, 202, 202);
    margin-left: 10px;
}
#product li h3{
    color: black;
    margin-left: 10px;
}
#air{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 15px 15px 10px;
    background-color: rgb(250, 175, 188);
}
#air h3{
    color: rgb(243, 49, 82);
}
* {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
#accessories{
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px 15px 15px 10px;
    background-color: rgb(155, 241, 116);
}
#acc-product{
    background-color: rgb(155, 241, 116);
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}
#acc-product img{
    height: 200px;
    width: 200px;
}
#acc-product li{
        display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
    background-color: white;
    list-style: none;
    padding: 10px;
}
#acc-product strike{
    font-size: medium;
    color: rgb(202, 202, 202);
    margin-left: 10px;
}
#acc-product li h3{
    color: black;
    margin-left: 10px;
}


/* Toast container */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #323232;
  color: white;
  padding: 14px 22px;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  z-index: 999;
}

/* Visible state */
.toast.show {
  opacity: 1;
  transform: translateY(0);
}

/* Success style */
.toast.success {
  background: #28a745;
}

/* Error style */
.toast.error {
  background: #dc3545;
}